{{#partial "content"}}
    <h1 style="color:black">HERO SQUAD APP </h1>
    <form action="created-hero" method="post" class="well">
        <label for="heroName">Hero's Name</label><br>
        <input id="heroName" name="heroName" type="text" class="input-field">
        <br>
        <label for="ages">Hero's Age</label><br>
        <input id="ages" name="ages" type="text" class="input-field">
        <br>
        <label for="power">Hero's Power</label><br>
        <input id="power" name="power" type="text" class="input-field">
        <br>
        <label for="weak">Hero's Weakness</label><br>
        <input id="weak" name="weak" type="text" class="input-field">
        <br><br>
        <button type="submit" class="btn btn-info">Add Hero</button>
    </form>
{{/partial}}
{{> layout.hbs}}

