{{#partial "content"}}


    <p>Current squads:</p>
    {{#if squads}}
        {{#each squads }}

            <p>{{ name }} </p>

        {{/each}}
    {{else}}
<p>not working!!!!!!!!!!!!!!!!!!!!!!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}