{{#partial "content"}}
    <h1 style="color:black;text-align:center;">HERO SQUAD APP </h1>

    <p>Current squads:</p>
    {{#if squads}}
        {{#each squads }}

            <p>{{ name }} </p>

        {{/each}}
    {{else}}
<p>not working!!!!!!!!!!!!!!!!!!!!!!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}