
<!--<h2>All Squads</h2>-->

<!--<ul>-->
<!--    #foreach ($squad in $squads)-->
<!--    <h3><li><a href="/squads/$squad.getId()">$squad.getSquadName()</a></li></h3>-->
<!--    #end-->
<!--</ul>-->
<!--<br>-->
<!--<a href="/squads/new">Add New Squad</a>-->